<div class="container-fluid">
    <%= form_with(model: @idea, local: true) do |form| %>
    <% if @idea.errors.present? %>
        <p class="form-errors">
        <%= @idea.errors.full_messages.join(", ") =%>
        </p>
    <% end  %>
        <div>
        <%= form.label :title %> <br>
        <%= form.text_field :title%>
        </div>

        <div>
        <%= form.label :description %> <br>
        <%= form.text_area :description, cols: 50, rows: 5 %>
        </div>

    <%= form.submit %>
    <% end %>
<div>